<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.bluechat">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.example.bluechat.presenter.activities.StartChatActivity">
        </activity>
        <activity android:name="com.example.bluechat.presenter.activities.ChatActivity"
        android:parentActivityName=".presenter.activities.MainActivity">
        </activity>

        <service
                android:name="com.example.bluechat.framework.services.MainBluetoothService"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity android:name="com.example.bluechat.presenter.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>